<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h3></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 vcenter">
        <img [src]="" [alt]="" height="90px" />
      </div>
      <div class="col-xs-6 vcenter">
        <button class="btn btn-primary btn-sm" type="button">Edit</button>
        <button class="btn btn-danger btn-sm" type="button">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Email:</strong> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Phone:</strong> </p>
      </div>
    </div>
  </div>
</div>